Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

Fix sab dep
  cluster/apps/media/readarr/ks.yaml
Labels: area/kubernetes

Disable longhorn
  cluster/apps/storage/kustomization.yaml
Labels: area/kubernetes

Replace longhorn deps with rook-ceph
  cluster/apps/database/cloudnative-pg/ks.yaml
  cluster/apps/default/firefly/ks.yaml
  cluster/apps/default/grocy/ks.yaml
  cluster/apps/default/guacamole/ks.yaml
  cluster/apps/default/harbor/ks.yaml
  cluster/apps/default/librephotos/ks.yaml
  cluster/apps/default/monica/ks.yaml
  cluster/apps/default/vaultwarden/ks.yaml
  cluster/apps/media/lidarr/ks.yaml
  cluster/apps/media/overseerr/ks.yaml
  cluster/apps/media/plex/ks.yaml
  cluster/apps/media/prowlarr/ks.yaml
  cluster/apps/media/qbittorrent/ks.yaml
  cluster/apps/media/radarr-4k/ks.yaml
  cluster/apps/media/radarr/ks.yaml
  cluster/apps/media/sonarr/ks.yaml
  cluster/apps/media/tautulli/ks.yaml
  cluster/apps/media/youtube-dl/ks.yaml
  cluster/apps/monitoring/gotify/ks.yaml
  cluster/apps/monitoring/kube-prometheus-stack/ks.yaml
  cluster/apps/monitoring/thanos/ks.yaml
  cluster/apps/network/omada-controller/ks.yaml
  cluster/apps/storage/longhorn/ks.yaml
Labels: area/kubernetes

Add downloads folder for readarr
  cluster/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

Change sonarr volsync perms
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/templates/ListJob.tmpl.yaml
  .taskfiles/VolSync/templates/wait-for-job.sh
  cluster/apps/media/sonarr/app/backup/replicationsource.yaml
Labels: area/kubernetes

Change plex volsync perms
  cluster/apps/media/plex/app/backup/replicationsource.yaml
Labels: area/kubernetes

Change omada permission
  cluster/apps/network/omada-controller/app/backup/replicationsource.yaml
Labels: area/kubernetes

Fix mosquitto volsync perms
  cluster/apps/home-automation/mosquitto/app/backup/replicationsource.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 34200a7
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

Deploy kube-vip
  cluster/apps/kube-system/kube-vip/app/daemonset.yaml
  cluster/apps/kube-system/kube-vip/app/kustomization.yaml
  cluster/apps/kube-system/kube-vip/app/rbac.yaml
  cluster/apps/kube-system/kube-vip/ks.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Update dns records for new k8s node
  terraform/cloudflare/dns_markmckessock_com.tf
Labels: area/terraform

Fix terraform config
  docs.md
  terraform/cloudflare/dns_markmckessock_com.tf
Labels: area/terraform

Deploy nvidia gpu-operator
  cluster/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
  cluster/apps/gpu-operator/gpu-operator/app/kustomization.yaml
  cluster/apps/gpu-operator/gpu-operator/ks.yaml
  cluster/apps/gpu-operator/kustomization.yaml
  cluster/apps/gpu-operator/namespace.yaml
  cluster/flux/repositories/helm/kustomization.yaml
  cluster/flux/repositories/helm/node-feature-discovery.yaml
  cluster/flux/repositories/helm/nvidia.yaml
  docs/docs.md
  docs/new-node-setup.md
Labels: area/kubernetes

Add plex gpu resource request
  cluster/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

Add frigate recording config
  cluster/apps/home-automation/frigate/app/config/config.yaml
Labels: area/kubernetes

Update rook ceph for new node
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Add system upgrade controller
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  cluster/apps/system-upgrade/kustomization.yaml
  cluster/apps/system-upgrade/namespace.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/ks.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/tautulli docker tag to v2.12.2
  cluster/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

Change plex volsync user
  cluster/apps/media/plex/app/backup/replicationsource.yaml
Labels: area/kubernetes

Add volsync mover sec context
  cluster/apps/media/plex/app/backup/replicationsource.yaml
  docs/new-node-setup.md
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.2.0
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(container): update ghcr.io/fluxcd/flux-manifests docker tag to v0.41.2
  cluster/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.3.6
  cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Change qbittorrent user
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/templates/UnlockJob.tmpl.yaml
  cluster/apps/default/immich/ks.yaml
  cluster/apps/media/qbittorrent/app/backup/replicationsource.yaml
  cluster/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Remove qbittorrent runasuser
  cluster/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Add local-path-provisioner
  cluster/apps/storage/kustomization.yaml
  cluster/apps/storage/local-path-provisioner/app/helmrelease.yaml
  cluster/apps/storage/local-path-provisioner/app/kustomization.yaml
  cluster/apps/storage/local-path-provisioner/ks.yaml
  cluster/flux/repositories/git/.gitkeep
  cluster/flux/repositories/git/kustomization.yaml
  cluster/flux/repositories/git/local-path-provisioner.yaml
  cluster/flux/repositories/kustomization.yaml
Labels: area/kubernetes

Fix local-path-provisioner git repo
  cluster/apps/storage/local-path-provisioner/app/helmrelease.yaml
Labels: area/kubernetes

Migrate cloudnative-pg to local-path volumes
  cluster/apps/database/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

Revert to previous cloudnative-pg volume size
  cluster/apps/database/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

Re-shrink volumes for cloudnative-pg
  cluster/apps/database/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

Switch back to ceph-block storage
  cluster/apps/database/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

Back to local-path (again)
  cluster/apps/database/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

Shorten retry interval
  cluster/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

Start with fresh cluster
  cluster/apps/database/cloudnative-pg/config/cluster.yaml
Labels: area/kubernetes

Add WITH_WORKLOAD env var for gpu operator
  cluster/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update oxsecurity/megalinter action to v6.21.0
  .github/workflows/lint.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/plex docker tag to v1.31.3.6868-28fc46b27
  cluster/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.2992
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vpa to v1.7.0
  cluster/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release goldilocks to v6.5.2
  cluster/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"
