Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"

Manually specify filenames
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Update command format for initContainer
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Change shell
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Fix download path
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Update probe config
  cluster/apps/default/mc-atm8/app/backup/replicationsource.yaml
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Disable initialDelaySeconds
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Enable flight on server
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Enable westar sms db backup
  cluster/apps/database/kustomization.yaml
  cluster/apps/database/westar-sms-backup/app/cronjob.yaml
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
  cluster/apps/database/westar-sms-backup/app/kustomization.yaml
  cluster/apps/database/westar-sms-backup/ks.yaml
Labels: area/kubernetes

Add es to ks
  cluster/apps/database/westar-sms-backup/app/kustomization.yaml
Labels: area/kubernetes

Fix mysql password
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
Labels: area/kubernetes

Use root sql user
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
Labels: area/kubernetes

Specify which db to backup
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
Labels: area/kubernetes

Add schema to endpoint URL
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
Labels: area/kubernetes

Enable v4 S3 API
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
Labels: area/kubernetes

Remove securitycontext
  cluster/apps/database/westar-sms-backup/app/cronjob.yaml
Labels: area/kubernetes

Add s3 region
  cluster/apps/database/westar-sms-backup/app/externalsecret.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v3.5.1
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update helm release app-template to v1.4.0
  cluster/apps-archive/media/plex/app/cronjobs/plex-auto-tagger/helmrelease.yaml
  cluster/apps/default/firefly/app/helmrelease.yaml
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/apps/default/vaultwarden/app/helmrelease.yaml
  cluster/apps/home-automation/frigate/app/helmrelease.yaml
  cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  cluster/apps/home-automation/mosquitto/app/helmrelease.yaml
  cluster/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/media/lidarr/app/helmrelease.yaml
  cluster/apps/media/overseerr/app/helmrelease.yaml
  cluster/apps/media/plex/app/cronjobs/plex-meta-manager/helmrelease.yaml
  cluster/apps/media/plex/app/helmrelease.yaml
  cluster/apps/media/prowlarr/app/helmrelease.yaml
  cluster/apps/media/qbittorrent/app/cronjobs/remove-stalled/helmrelease.yaml
  cluster/apps/media/qbittorrent/app/helmrelease.yaml
  cluster/apps/media/radarr-4k/app/helmrelease.yaml
  cluster/apps/media/radarr/app/helmrelease.yaml
  cluster/apps/media/readarr/app/helmrelease.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sonarr/app/helmrelease.yaml
  cluster/apps/media/tautulli/app/helmrelease.yaml
  cluster/apps/media/youtube-dl/app/helmrelease.yaml
  cluster/apps/monitoring/gotify/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/alertmanager-gotify-bridge/helmrelease.yaml
  cluster/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  cluster/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  cluster/apps/network/omada-controller/app/helmrelease.yaml
  cluster/apps/security/external-secrets/stores/onepassword/helmrelease.yaml
  cluster/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

Add new ceph OSD on new node
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  docs/docs.md
Labels: area/kubernetes

Add DNS records for new node
  terraform/cloudflare/dns_markmckessock_com.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3128
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3131
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update docker.io/prodrigestivill/postgres-backup-local:15 docker digest to b3905c5
  cluster/apps/database/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v3.5.2
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to f0d4e14
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3143
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Add aegir dns record
  terraform/cloudflare/dns_markmckessock_com.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3148
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Add disk to new node
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Update helmreleases
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/apps/default/vaultwarden/app/helmrelease.yaml
  cluster/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
  cluster/apps/kube-system/reloader/app/helmrelease.yaml
  cluster/apps/media/readarr/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Fix document syntax
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/kube-vip/kube-vip docker tag to v0.5.12
  cluster/apps/kube-system/kube-vip/app/daemonset.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3153
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3154
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.4.4.7068
  cluster/apps/media/radarr-4k/app/helmrelease.yaml
  cluster/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

Create supabase
  cluster/apps/horse-show-app/kustomization.yaml
  cluster/apps/horse-show-app/namespace.yaml
  cluster/apps/horse-show-app/supabase/app/externalsecret.yaml
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
  cluster/apps/horse-show-app/supabase/app/kustomization.yaml
  cluster/apps/horse-show-app/supabase/ks.yaml
  cluster/flux/repositories/git/kustomization.yaml
  cluster/flux/repositories/git/supabase-kubernetes.yaml
Labels: area/kubernetes

feat(helm): update helm release tf-controller to v0.12.0
  cluster/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

Update git repo
  cluster/flux/repositories/git/supabase-kubernetes.yaml
Labels: area/kubernetes

Add fields for disabled db?
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Add string for secretname
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes
