Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

feat(helm)!: Update Helm release kube-prometheus-stack to v45
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v34.138.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update helm release cloudnative-pg to v0.17.0
  cluster/apps/database/cloudnative-pg/operator/helmrelease.yaml
Labels: area/kubernetes

Add github actions runner
  cluster/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/app/pvc.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/ks.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/runners/home-ops.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  cluster/apps/actions-runner-system/kustomization.yaml
  cluster/apps/actions-runner-system/namespace.yaml
  cluster/flux/repositories/helm/actions-runner-controller.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Fix ARC domain
  cluster/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

Fix substitution
  cluster/flux/cluster-apps.yaml
Labels: area/kubernetes

Add tf controller
  cluster/apps/flux-system/kustomization.yaml
  cluster/apps/flux-system/namespace.yaml
  cluster/apps/flux-system/tf-controller/app/externalsecret.yaml
  cluster/apps/flux-system/tf-controller/app/helmrelease.yaml
  cluster/apps/flux-system/tf-controller/app/kustomization.yaml
  cluster/apps/flux-system/tf-controller/ks.yaml
  cluster/apps/flux-system/tf-controller/terraforms/cloudflare/kustomization.yaml
  cluster/apps/flux-system/tf-controller/terraforms/cloudflare/terraform.yaml
  cluster/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  cluster/flux/repositories/helm/kustomization.yaml
  cluster/flux/repositories/helm/tf-controller.yaml
Labels: area/kubernetes

Add initial terraform config
  .sops.yaml
  terraform/cloudflare/main.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/secrets.sops.yaml
Labels: area/terraform

Fix terraform secrets file
  cluster/apps/flux-system/tf-controller/terraforms/cloudflare/terraform.yaml
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/secret.sops.yaml
Labels: area/kubernetes, area/terraform

Use local runner for renovate
  .github/workflows/renovate.yaml
  cluster/apps/actions-runner-system/actions-runner-controller/runners/home-ops.yaml
Labels: area/kubernetes, area/github

Remove extra external dns config
  cluster/apps/home-automation/mosquitto/app/helmrelease.yaml
  cluster/apps/media/overseerr/app/helmrelease.yaml
  cluster/apps/media/plex/app/helmrelease.yaml
  cluster/apps/media/tautulli/app/helmrelease.yaml
  cluster/apps/network/external-dns/app/helmrelease.yaml
  terraform/cloudflare/dns_markmckessock_com.tf
Labels: area/kubernetes, area/terraform

Add external-dns annotations
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  terraform/cloudflare/dns_markmckessock_com.tf
Labels: area/kubernetes, area/terraform

feat(github-action): update renovatebot/github-action action to v34.143.1
  .github/workflows/renovate.yaml
Labels: area/github

Update recyclarr tags
  cluster/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v34.146.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/onedr0p/tautulli:2.11.1 docker digest to 7eed922
  cluster/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to e70cbb5
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 5d93d76
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/tarampampam/error-pages docker tag to v2.21.0
  cluster/apps/network/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v34.152.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.1.2772
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.1.2792
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.2.2813
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v34.153.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.154.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/onedr0p/sonarr-develop:4.0.0.391 docker digest to aa3051c
  cluster/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/koenkk/zigbee2mqtt docker tag to v1.30.2
  cluster/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v34.154.4
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 3e74130
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.2.2863
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update docker.io/prodrigestivill/postgres-backup-local:15 docker digest to 9a08323
  cluster/apps/database/postgres-backup/app/cronjob.yaml
Labels: area/kubernetes

Add sabnzbd
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/sabnzbd/app/backup/externalsecret.yaml
  cluster/apps/media/sabnzbd/app/backup/kustomization.yaml
  cluster/apps/media/sabnzbd/app/backup/replicationsource.yaml
  cluster/apps/media/sabnzbd/app/externalsecret.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sabnzbd/app/kustomization.yaml
  cluster/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes

Fix onepassword dep
  cluster/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes

Fix volsync dep
  cluster/apps/media/sabnzbd/ks.yaml
Labels: area/kubernetes

Remove node-selector
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

Change sab port
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

Fix sabnzbd domain whitelist
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

Add complete downloads path
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

Change sabnzdb user
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

Add readarr
  cluster/apps/media/kustomization.yaml
  cluster/apps/media/readarr/app/backup/externalsecret.yaml
  cluster/apps/media/readarr/app/backup/kustomization.yaml
  cluster/apps/media/readarr/app/backup/replicationsource.yaml
  cluster/apps/media/readarr/app/externalsecret.yaml
  cluster/apps/media/readarr/app/helmrelease.yaml
  cluster/apps/media/readarr/app/kustomization.yaml
  cluster/apps/media/readarr/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"
