Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

feat(terraform): update terraform cloudflare to v4.3.0
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm)!: Update Helm release gpu-operator to v23
  cluster/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
Labels: area/kubernetes

Create minecraft server
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/apps/default/mc-atm8/ks.yaml
  cluster/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Enable minecraft
  cluster/apps/default/kustomization.yaml
Labels: area/kubernetes

Don't use self-hosted runner
  .github/workflows/renovate.yaml
Labels: area/github

Add auto curseforge config
  cluster/apps/default/mc-atm8/app/backup/externalsecret.yaml
  cluster/apps/default/mc-atm8/app/backup/kustomization.yaml
  cluster/apps/default/mc-atm8/app/backup/replicationsource.yaml
  cluster/apps/default/mc-atm8/app/externalsecret.yaml
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/apps/default/mc-atm8/app/kustomization.yaml
Labels: area/kubernetes

Fix typo in external secret
  cluster/apps/default/mc-atm8/app/externalsecret.yaml
Labels: area/kubernetes

Enable minecraft loadbalancer
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Fix minecraft limits
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Fix resources again
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sonarr-develop:4.0.0.433 docker digest to db6ae48
  cluster/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/tautulli:2.12.2 docker digest to 4df605e
  cluster/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

Decrease memory limit
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 24fb383
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3074
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cert-manager to v1.11.1
  cluster/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release gpu-operator to v23.3.1
  cluster/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/tarampampam/error-pages docker tag to v2.22.0
  cluster/apps/network/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

Change to new helm repo
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/flux/repositories/helm/itzg.yaml
  cluster/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 6f5c37f
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3083
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update druggeri/alertmanager_gotify_bridge docker tag to v2.2
  cluster/apps/monitoring/kube-prometheus-stack/alertmanager-gotify-bridge/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3085
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3087
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3095
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3105
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Update ddns domain
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/apps/network/cloudflare-ddns/app/externalsecret.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3107
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/plex docker tag to v1.32.0.6918-6f393eda1
  cluster/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update meisnate12/plex-meta-manager docker tag to v1.19.0
  cluster/apps/media/plex/app/cronjobs/plex-meta-manager/helmrelease.yaml
Labels: area/kubernetes

feat(container): update cloudflare/cloudflared docker tag to v2023.4.0
  cluster/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3109
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Change mc server format
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Add server initcontainer
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3115
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/qmcgaw/gluetun docker tag to v3.33.0
  cluster/apps/security/vpn-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3121
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Fix command syntax
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Use local zip files
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

Manually grab required mods
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"
