Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.1.3.2464
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/sct/overseerr docker tag to v1.32.5
  cluster/apps/media/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

Update cloudnative-pg secrets to 1password
  cluster/apps/database/cloudnative-pg/config/externalsecret.yaml
Labels: area/kubernetes

Update firefly
  cluster/apps/default/firefly/app/externalsecret.yaml
  cluster/apps/default/firefly/app/helmrelease.yaml
Labels: area/kubernetes

Update HA to 1password
  cluster/apps/home-automation/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

Add more 1password secrets
  cluster/apps/media/qbittorrent/app/externalsecret.yaml
  cluster/apps/network/cloudflare-ddns/app/externalsecret.yaml
  cluster/apps/network/cloudflare-tunnel/app/externalsecret.yaml
  cluster/apps/storage/minio/app/externalsecret.yaml
Labels: area/kubernetes

Fix typo in cloudflare ddns
  cluster/apps/network/cloudflare-ddns/app/externalsecret.yaml
Labels: area/kubernetes

Add more 1password secrets
  cluster/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  cluster/apps/media/plex/app/cronjobs/plex-meta-manager/externalsecret.yaml
  cluster/apps/media/plex/app/externalsecret.yaml
  cluster/apps/monitoring/kube-prometheus-stack/alertmanager-gotify-bridge/externalsecret.yaml
Labels: area/kubernetes

Add final 1password secrets
  cluster/apps/home-automation/frigate/app/externalsecret.yaml
  cluster/apps/home-automation/frigate/app/kustomization.yaml
  cluster/apps/home-automation/mosquitto/app/externalsecret.yaml
  cluster/apps/home-automation/mosquitto/app/kustomization.yaml
  cluster/apps/home-automation/mosquitto/app/mosquitto-passwordfile.yaml
  cluster/apps/media/plex/app/cronjobs/plex-meta-manager/externalsecret.yaml
Labels: area/kubernetes

Remove doppler SecretStores
  cluster/apps/security/external-secrets/stores/doppler/clustersecretstore.yaml
  cluster/apps/security/external-secrets/stores/doppler/dopplertokens.sops.yaml
  cluster/apps/security/external-secrets/stores/doppler/kustomization.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook gruntwork-io/pre-commit to v0.1.18
  .pre-commit-config.yaml
Labels: none

fix(container): update quay.io/thanos/thanos docker tag to v0.30.2
  cluster/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.363
  cluster/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update k8s.gcr.io/autoscaling/vpa-recommender docker tag to v0.13.0
  cluster/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.4.3
  cluster/apps/network/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.0
  cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.1.3.2490
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/home-assistant/home-assistant docker tag to v2023.2.1
  cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update cloudflare/cloudflared docker tag to v2023.2.1
  cluster/apps/network/cloudflare-tunnel/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release goldilocks to v6.4.1
  cluster/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v34.122.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.1.3.2519
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Test disable goldilocks cpu limit
  cluster/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

Remove rook, cloudflare-ddns cpu limits
  cluster/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Remove rook-ceph operator cpu limit
  cluster/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

Update ceph failuredomains
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Update ceph mgr pool
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Disable ceph pool storageclass
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Fix invalid pool name
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.365
  cluster/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Remove ceph object store
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Update toolbox cpu limits
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Disable default objectstore
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v34.124.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.2.0.2523
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update oxsecurity/megalinter action to v6.19.0
  .github/workflows/lint.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v34.124.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.2.0.2524
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.2.0.2525
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v34.124.5
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"
