Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

fix(github-action): update renovatebot/github-action action to v36.0.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm release rook-ceph to v1.11.5
  cluster/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release rook-ceph-cluster to v1.11.5
  cluster/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.5.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(github-action): update renovatebot/github-action action to v36.1.0
  .github/workflows/renovate.yaml
Labels: area/github

Update homae assistant automation
  cluster/apps/home-automation/home-assistant/app/config/automations.yaml
  cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3289
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3291
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to f540a13
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3292
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3295
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.6.1
  cluster/apps/network/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release descheduler to v0.27.0
  cluster/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v36.1.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3297
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3299
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3300
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3301
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3302
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3303
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release app-template to v1.5.0
  cluster/apps-archive/media/plex/app/cronjobs/plex-auto-tagger/helmrelease.yaml
  cluster/apps/default/firefly/app/helmrelease.yaml
  cluster/apps/default/mc-atm8/app/helmrelease.yaml
  cluster/apps/default/vaultwarden/app/helmrelease.yaml
  cluster/apps/home-automation/frigate/app/helmrelease.yaml
  cluster/apps/home-automation/home-assistant/app/helmrelease.yaml
  cluster/apps/home-automation/mosquitto/app/helmrelease.yaml
  cluster/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
  cluster/apps/horse-show-app/supabase/app/supabase-realtime.yaml
  cluster/apps/media/lidarr/app/helmrelease.yaml
  cluster/apps/media/overseerr/app/helmrelease.yaml
  cluster/apps/media/plex/app/cronjobs/plex-meta-manager/helmrelease.yaml
  cluster/apps/media/plex/app/helmrelease.yaml
  cluster/apps/media/prowlarr/app/helmrelease.yaml
  cluster/apps/media/qbittorrent/app/cronjobs/remove-stalled/helmrelease.yaml
  cluster/apps/media/qbittorrent/app/helmrelease.yaml
  cluster/apps/media/radarr-4k/app/helmrelease.yaml
  cluster/apps/media/radarr/app/helmrelease.yaml
  cluster/apps/media/readarr/app/helmrelease.yaml
  cluster/apps/media/recyclarr/app/helmrelease.yaml
  cluster/apps/media/sabnzbd/app/helmrelease.yaml
  cluster/apps/media/sonarr/app/helmrelease.yaml
  cluster/apps/media/tautulli/app/helmrelease.yaml
  cluster/apps/media/youtube-dl/app/helmrelease.yaml
  cluster/apps/monitoring/gotify/app/helmrelease.yaml
  cluster/apps/monitoring/kube-prometheus-stack/alertmanager-gotify-bridge/helmrelease.yaml
  cluster/apps/monitoring/speedtest-exporter/app/helmrelease.yaml
  cluster/apps/network/cloudflare-ddns/app/helmrelease.yaml
  cluster/apps/network/cloudflare-tunnel/app/helmrelease.yaml
  cluster/apps/network/omada-controller/app/helmrelease.yaml
  cluster/apps/security/external-secrets/stores/onepassword/helmrelease.yaml
  cluster/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3304
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3305
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3312
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cert-manager to v1.11.2
  cluster/apps/security/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update eclipse-mosquitto:2.0.15 docker digest to 00fefa7
  cluster/apps/home-automation/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/prowlarr-nightly:1.5.0.3312 docker digest to e69dcf6
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/readarr-develop:0.1.4.1596 docker digest to b24967c
  cluster/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/lidarr-develop docker tag to v1.1.4.3027
  cluster/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/tautulli docker tag to v2.12.3
  cluster/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3316
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update rancher/system-upgrade-controller docker tag to v0.11.0
  cluster/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): update helm release longhorn to v1.4.2
  cluster/apps/storage/longhorn/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v37
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to efaffe1
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release actions-runner-controller to v0.23.3
  cluster/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3320
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3324
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook gruntwork-io/pre-commit to v0.1.22
  .pre-commit-config.yaml
Labels: none

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.5.0.3326
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"
