Repository MarkMckessock/kube-saturn, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/kubernetes, area/ansible, area/github, area/terraform

.github/labeler.yaml:

---
area/kubernetes:
  - "cluster/**/*"
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/terraform:
  - "terraform/**/*"

Fix db host
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Change supabase db name
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Add new env keys for realtime db
  cluster/apps/horse-show-app/supabase/app/externalsecret.yaml
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Fix incorrect service URLs
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Enable postgres persistence
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Move to standalone db because helm chart devs at dummies
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
  cluster/apps/horse-show-app/supabase/app/kustomization.yaml
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

Change image versions to match docker and use custom db usernames
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Disable SSL for supabase
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Disable supabase SSL on storage-api
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3200
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

Disable db SSL on all services
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

Remove extra init scripts for db
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

try again standalone realtime
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
  cluster/apps/horse-show-app/supabase/app/kustomization.yaml
  cluster/apps/horse-show-app/supabase/app/supabase-realtime.yaml
Labels: area/kubernetes

Re-enable init scripts for supabase-db
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

Add UID for supabase-db
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

Remove custom postgres launch options
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

Add missing public url
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

Bump supabase auth version
  cluster/apps/horse-show-app/supabase/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3203
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3205
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3206
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release goldilocks to v6.5.5
  cluster/apps/monitoring/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 431a3c1
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

Enable LB service for supabase-db
  cluster/apps/horse-show-app/supabase/app/supabase-db.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook gruntwork-io/pre-commit to v0.1.21
  .pre-commit-config.yaml
Labels: none

Archive westar-sms-backup job
  cluster/apps-archive/database/westar-sms-backup/app/cronjob.yaml
  cluster/apps-archive/database/westar-sms-backup/app/externalsecret.yaml
  cluster/apps-archive/database/westar-sms-backup/app/kustomization.yaml
  cluster/apps-archive/database/westar-sms-backup/ks.yaml
  cluster/apps/database/kustomization.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3224
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v36.0.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.31.0
  .pre-commit-config.yaml
Labels: none

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3227
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.0.3230
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.1.3231
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.1.3232
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 1b67ebf
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.1.3235
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.1.3236
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.1.3238
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform http to v3.3.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.4.1.3243
  cluster/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/recyclarr/recyclarr:edge docker digest to 2bddb5d
  cluster/apps/media/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes
